<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masgarti Inc - Business Promotions</title>
    <link rel="stylesheet" href="../static/css/BusinessPromotions.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="banner">
            <div class="header">
                <div class="header-top">
                    <img class="logo" src="">
                    <div class="quote">
                        <span>Top Destination for Customized Products</span>
                    </div>
                    <div class="account">
                        <span>LOGIN</span>
                        <span>SIGNUP</span>
                        <img class="cart" src="../images/shopping_cart_white_48dp.svg">
                    </div>
                </div>
                <div class="menu" id="menu">
                    <span id="all">ALL</span>
                    <div id="all-modal" class="modal">
                        <div class="modal-content">
                            <div class="header-modal">
                                <span class="all-title">MASGARTI Services</span>
                                <span class="close">&times;</span>
                            </div>
                            <div class="body-modal">
                                <div class="electronics">
                                    <p>ELECTRONICS</p>
                                    <div class="electronics-subsections">
                                        <span>Tablet PC</span>
                                        <span>Laptop PC</span>
                                    </div>
                                </div>
                                <div class="fashion">
                                <p>FASHION</p>
                                    <div class="fashion-subsections">
                                        <span>Men's Wears</span>
                                        <span>Women's Wears</span>
                                        <span>Office Wears</span>
                                    </div>
                                </div>
                                <div class="business-promotions">
                                <p>BUSINESS PROMOTIONS</p>
                                    <div class="business-subssections">
                                        <span>Visiting Cards</span>
                                        <span>Brochures</span>
                                        <span>Flyers</span>
                                        <span>Postal Covers</span>
                                        <span>Letter Heads</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="menu-items">FASHION</span>
                    <span class="menu-items">ELECTRONICS</span>
                    <span class="menu-items active">BUSINESS PROMOTIONS</span>
                </div>
            </div>
            <div class="business">
                <img class="business-poster" src="../images/Images/Buisness_Promotion.png">
            </div>
            <div class="product-list">
                <div class="flyer-description">
                    <div class="flyer-span">
                        <span class="flyer-span-text">Promote your product ideas with our Customizable 1 Page Flyer</span>
                        <span class="flyer-button">Customize Now >></span>
                    </div>
                    <img class="flyer-poster" src="../images/Images/1_Page_Flyer.jpg">
                </div>
                <div class="flyer-description">
                    <img class="flyer-poster" src="../images/Images/4_Page_Brochure.png">
                    <div class="flyer-span">
                        <span class="flyer-span-text">Describe your Product to promote your business with our Customizable 4 Page Brochure</span>
                        <span class="flyer-button">Customize Now >></span>
                    </div>
                </div>
                <div class="flyer-description">
                    <div class="flyer-span">
                        <span class="flyer-span-text">Promote your business by offering our Customizable Business Cards to the people you know</span>
                        <span class="flyer-button">Customize Now >></span>
                    </div>
                    <img class="flyer-poster" src="../images/Images/Visiting_Cards.png">
                </div>
                <div class="flyer-description">
                    <img class="flyer-poster" src="../images/Images/Letterheads.png">
                    <div class="flyer-span">
                        <span class="flyer-span-text">Describe your business to all your letters with our Customizable Letter Heads</span>
                        <span class="flyer-button">Customize Now >></span>
                    </div>
                </div>
                <div class="flyer-description">
                    <div class="flyer-span">
                        <span class="flyer-span-text">Promote your business to all your letters sent using our Customizable Postal Covers with the professional design you need</span>
                        <span class="flyer-button">Customize Now >></span>
                    </div>
                    <img class="flyer-poster" src="../images/Images/Postal_Covers.jpg">
                </div>
            </div>
            <div class="back-to-top">
                <img class="up-arrow" src="../images/arrow_upward_black_48dp.svg">
            </div>
            <div class="footer-main">
                <div class="footer">
                    <div class="section-3">
                        <div class="about">
                            <div class="heading">
                                <span>Get to Know Us</span>
                            </div>
                            <div class="body">
                                <span>About Us</span>
                                <span>Privacy Policy</span>
                            </div>
                        </div>
                    </div>
                    <div class="section-4">
                        <div class="social-media">
                            <div class="heading">
                                <span>Connect with Us</span>
                            </div>
                            <div class="body">
                                <span>Facebook</span>
                                <span>LinkedIn</span>
                                <span>Twitter</span>
                                <span>Instagram</span>
                            </div>
                        </div>
                    </div>
                    <div class="section-5">
                        <div class="help">
                            <div class="heading">
                                <span>Let Us Help You</span>
                            </div>
                            <div class="body">
                                <span>Your Account</span>
                                <span>Return Policy</span>
                                <span>Help</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <span>Copyrights - 2021 Masgarti Inc,.</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        var modal = document.getElementById("all-modal");
        var btn = document.getElementById("all");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        var header = document.getElementById("menu");
        var btns = header.getElementsByClassName("menu-items");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>
</body>
</html>