<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masgarti Inc - Login Page</title>
    <link rel="stylesheet" href="../static/css/LoginPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <img class="logo" src="">
            <span class="quote">Top Destination for Customized Products</span>
        </div>
        <div class="body">
            <span>Sign In</span>
            <span>Sign In with your Username and Password</span> 
            <div class="body-login">
                <span>Email</span>
                <input type="text" name="email" />
                <span>Password</span>
                <input type="password" name="password" />
                <button class="signin">Sign In</button>
            </div>
            <span class="forgotpass">Forgot Password</span>
            <span class="signup">Don't have an Account, Sign Up</span>
        </div>
        <div class="copyrights">
            <span>Copyrights - 2021 Masgarti Inc,.</span>
        </div>
    </div>
</body>
</html>