<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masgarti Inc - Men's T - Shirts</title>
    <link rel="stylesheet" href="../static/css/Men'sT-Shirts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="banner">
            <div class="header">
                <div class="header-top">
                    <img class="logo" src="">
                    <div class="quote">
                        <span>Top Destination for Customized Products</span>
                    </div>
                    <div class="account">
                        <span>LOGIN</span>
                        <span>SIGNUP</span>
                        <img class="cart" src="../images/shopping_cart_white_48dp.svg">
                    </div>
                </div>
                <div class="menu" id="menu">
                    <span id="all">ALL</span>
                    <div id="all-modal" class="modal">
                        <div class="modal-content">
                            <div class="header-modal">
                                <span class="all-title">MASGARTI Services</span>
                                <span class="close">&times;</span>
                            </div>
                            <div class="body-modal">
                                <div class="electronics">
                                    <p>ELECTRONICS</p>
                                    <div class="electronics-subsections">
                                        <span>Tablet PC</span>
                                        <span>Laptop PC</span>
                                    </div>
                                </div>
                                <div class="fashion">
                                <p>FASHION</p>
                                    <div class="fashion-subsections">
                                        <span>Men's Wears</span>
                                        <span>Women's Wears</span>
                                        <span>Office Wears</span>
                                    </div>
                                </div>
                                <div class="business-promotions">
                                <p>BUSINESS PROMOTIONS</p>
                                    <div class="business-subssections">
                                        <span>Visiting Cards</span>
                                        <span>Brochures</span>
                                        <span>Flyers</span>
                                        <span>Postal Covers</span>
                                        <span>Letter Heads</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="menu-items">FASHION</span>
                    <span class="menu-items">ELECTRONICS</span>
                    <span class="menu-items">BUSINESS PROMOTIONS</span>
                </div>
            </div>
            <div class="store-description">
                <div class="store-title">
                    <span>T - Shirt Store</span>
                </div>
                <div class="store-details">
                    <span>Customize our best quality T - Shirts for your professional and personal lifestyles</span>
                </div>
            </div>
            <div class="products">
                <span class="designs">Men's T - Shirts Designs</span>
                <div class="product1">
                    <div class="product1-img">
                        <img src="../images/Images/Polo_T-Shirts_Men.jpg">
                    </div>
                    <div class="product1-description">
                        <span class="product1-title">Customizable Polo Neck T - Shirts for Men</span>
                        <span class="product1-sizes">Sizes Available : S, M, L, XL, XXL</span>
                        <span class="product1-orgprice">Original Price : Rs. 499</span>
                        <span class="product1-ourprice">Our Price : Rs. 399</span>
                        <div class="product-button">
                            <span>Customize Now >></span>
                        </div>
                    </div>
                </div>
                <div class="product2">
                    <div class="product1-img">
                        <img src="../images/Images/Round_Neck_T-Shirts_Men.jpg">
                    </div>
                    <div class="product1-description">
                        <span class="product1-title">Customizable Round Neck T - Shirts for Men</span>
                        <span class="product1-sizes">Sizes Available : S, M, L, XL, XXL</span>
                        <span class="product1-orgprice">Original Price : Rs. 599</span>
                        <span class="product1-ourprice">Our Price : Rs. 439</span>
                        <div class="product-button">
                            <span>Customize Now >></span>
                        </div>
                    </div>
                </div>
                <div class="product3">
                    <div class="product1-img">
                        <img src="../images/Images/V_Neck_T-Shirt_Men.jpg">
                    </div>
                    <div class="product1-description">
                        <span class="product1-title">Customizable V-Shape-Neck T-Shirts for Men</span>
                        <span class="product1-sizes">Sizes Available : S, M, L, XL, XXL</span>
                        <span class="product1-orgprice">Original Price : Rs. 699</span>
                        <span class="product1-ourprice">Our Price : Rs. 569</span>
                        <div class="product-button">
                            <span>Customize Now >></span>
                        </div>
                    </div>
                </div>
                <div class="product3">
                    <div class="product1-img">
                        <img src="../images/Images/Y_Neck_T-Shirt_Men.jpg">
                    </div>
                    <div class="product1-description">
                        <span class="product1-title">Customizable Y-Shape-Neck T-Shirts for Men</span>
                        <span class="product1-sizes">Sizes Available : S, M, L, XL, XXL</span>
                        <span class="product1-orgprice">Original Price : Rs. 649</span>
                        <span class="product1-ourprice">Our Price : Rs. 529</span>
                        <div class="product-button">
                            <span>Customize Now >></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="back-to-top">
                <img class="up-arrow" src="../images/arrow_upward_black_48dp.svg">
            </div>
            <div class="footer-main">
                <div class="footer">
                    <div class="section-3">
                        <div class="about">
                            <div class="heading">
                                <span>Get to Know Us</span>
                            </div>
                            <div class="body">
                                <span>About Us</span>
                                <span>Privacy Policy</span>
                            </div>
                        </div>
                    </div>
                    <div class="section-4">
                        <div class="social-media">
                            <div class="heading">
                                <span>Connect with Us</span>
                            </div>
                            <div class="body">
                                <span>Facebook</span>
                                <span>LinkedIn</span>
                                <span>Twitter</span>
                                <span>Instagram</span>
                            </div>
                        </div>
                    </div>
                    <div class="section-5">
                        <div class="help">
                            <div class="heading">
                                <span>Let Us Help You</span>
                            </div>
                            <div class="body">
                                <span>Your Account</span>
                                <span>Return Policy</span>
                                <span>Help</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <span>Copyrights - 2021 Masgarti Inc,.</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        var modal = document.getElementById("all-modal");
        var btn = document.getElementById("all");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        var header = document.getElementById("menu");
        var btns = header.getElementsByClassName("menu-items");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>
</body>
</html>