<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masgarti Inc - Signup Page</title>
    <link rel="stylesheet" href="../static/css/SignupPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <img class="logo" src="">
            <span class="quote">Top Destination for Customized Products</span>
        </div>
    </div>
    <div class="body">
        <span>Sign Up</span>
        <span>Create an Account to get started</span> 
        <div class="body-login">
            <span>First Name</span>
            <input type="text" name="firstname" />
            <span>Last Name</span>
            <input type="text" name="lastname" />
            <span>Date of Birth</span>
            <input type="date" name="dob" />
            <span>E - Mail</span>
            <input type="text" name="email" />
            <span>Mobile Number</span>
            <input type="text" name="mobilenumber" />
            <span>Password</span>
            <input type="password" name="passwrd" />
            <span>Confirm Password</span>
            <input type="password" name="confirmpass" />
            <button class="signup">Sign Up</button>
        </div>
        <span>Already have an Account, Sign In</span>
    </div>
    <div class="back-to-top">
        <img class="up-arrow" src="../images/arrow_upward_black_48dp.svg">
    </div>
    <div class="copyrights">
        <span>Copyrights - 2021 Masgarti Inc,.</span>
    </div>
</body>
</html>