{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masgarti INC,. - Men's T - Shirts</title>
    <link rel="stylesheet" href="{% static 'Flyers.css' %}">
    <link rel="stylesheet" href="{% static 'main_styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#btt-image").on('click', function(event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){
                        window.location.hash = hash;
                    });
                } 
            });
        });
    </script>
    <style>
        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 2px transparent; 
            border-radius: 4px;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background-color: lightgray;
            border-radius: 6px;
        }

        .user-account {
            position: relative;
            display: flex;
            justify-content: space-evenly;
            cursor: pointer;
            margin: 6px 0;
        }

        .account-menu {
            visibility: hidden;
            opacity: 0;
            background-color: white;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            text-align: center;
            transform: translateY(-3em);
            z-index: -1;
            transition: all 0.3s ease 0s, visibility 0s linear 0.03s, z-index 0s linear 0.01s;
        }

        .user-account:focus .account-menu,
        .user-account:focus-within .account-menu,
        .user-account:hover .account-menu {
            visibility: visible;
            z-index: 1;
            opacity: 1;
            transform: translateY(0);
            transition-delay: 0s, 0s, 0.3s;
        }

        .account-menu li {
            width: 100%;
        }

        .account-menu li:hover {
            background-color: #5C6BC0;
            color: white;
        }
    </style>
</head>
<body>
    <section id="top-page" class="overflow-x-hidden bg-gray-200">
        <section class="content-center w-screen h-full items-center ">
            <section class="fixed z-30 w-screen bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-800 container-lg h-14 lg:h-20 flex items-center justify-between p-5">
                <div class="flex justify-evenly align-middle items-center">
                    <a class="outline-none cursor-pointer" href="{% url 'homepage' %}"><img class="w-24 md:w-64 h-14 md:h-24" src="{% static 'images/Logos/Masgarti-logos_transparent.png' %}" /></a>
                    <div class="font-sans items-center hidden lg:block md:ml-10 space-x-2 p-2">
                        <a class="outline-none cursor-pointer" href="{% url 'clothing' %}"><span class="text-xl text-gray-200 hover: rounded-2xl hover: px-5 hover: py-1 hover:text-black hover:bg-white hover:border-black">Clothing</span></a>
                        <a class="outline-none cursor-pointer" href="{% url 'electronics' %}"><span class="text-xl text-gray-200 hover: rounded-2xl hover: px-5 hover: py-1 hover:text-black hover:bg-white hover:border-black">Electronics</span></a>
                        <a class="outline-none cursor-pointer" href="{% url 'business_promotions' %}"><span class="text-xl text-gray-200 hover: rounded-2xl hover: px-5 hover: py-1 hover:text-black hover:bg-white hover:border-black">Business Promotions</span></a>
                    </div>
                </div>
                <div class="font-sans flex items-center cursor-pointer space-x-6">
                    {% if request.session.username %}
                        <ul class="user-account">
                            <li><span class="text-md md:text-xl text-white font-semibold">Welcome {{ request.session.username }}</span></li>
                            <li>
                                <img class="w-6 h-6 lg:w-8 lg:h-8 ml-1" src="{% static 'images/arrow_drop_down_white_48dp.svg' %}">
                                <ul class="account-menu">
                                    <li class="py-3"><a href="{% url 'user-details-view' %}?account_url={{ request.get_full_path }}">My Account</a></li>
                                    <li class="py-3"><a href="#">My Orders</a></li>
                                    {% block content %}
                                    <form action="{% url 'logoutview' %}" method="POST">
                                        <li class="py-3 cursor-pointer">
                                            {% csrf_token %}
                                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}" />
                                            <input class="w-full h-full outline-none cursor-pointer bg-transparent" type="submit" name="signout" value="Sign Out" />
                                        </li>
                                    </form>
                                    {% endblock %}
                                </ul>
                            </li>
                        </ul>
                        {% else %}
                        <div class="w-auto">
                            <a class="cursor-pointer" href="{% url 'loginview' %}?next={{ request.get_full_path }}"><span class="text-sm md:text-xl text-gray-200 hover: rounded-2xl hover: px-5 hover: py-1 hover:text-black hover:bg-white hover:border-black">Login</span></a>
                            <a class="cursor-pointer" href="{% url 'signupview' %}"><span class="text-sm md:text-xl text-gray-200 hover: rounded-2xl hover: px-5 hover: py-1 hover:text-black hover:bg-white hover:border-black">Sign Up</span></a>
                        </div>
                    {% endif %}
                    <img class="bg-transparent h-8 w-8 lg:h-12 lg:w-12" src="{% static 'images/shopping_cart_white_48dp.svg' %}" />
                </div>
            </section>
        </section>
        <section class="w-screen h-auto flex flex-col justify-evenly">
            <div class="flex flex-col mt-20 lg:mt-24 justify-start">
                <span class="flex justify-start items-center ml-3 lg:ml-14">
                    <a href="{% url 'homepage' %}" class="text-black text-xs md:text-lg lg:text-xl font-semibold outline-none hover:text-indigo-700">Home</a>
                    <img class="w-8 h-4 lg:w-10 lg:h-6 -mb-1" src="{% static 'images/east_black_48dp.svg' %}" />
                    <a href="{% url 'clothing' %}" class="text-black text-xs md:text-lg lg:text-xl font-semibold outline-none hover:text-indigo-700">Customized Clothing</a>
                    <img class="w-8 h-4 lg:w-10 lg:h-6 -mb-1" src="{% static 'images/east_black_48dp.svg' %}" />
                    <span class="text-indigo-700 text-xs md:text-lg lg:text-xl font-semibold">Men's T - Shirts</span>
                </span>
            </div>
            <div class="mt-6 z-0">
                <img class="w-screen h-64 md:h-96 lg:h-full" src="{% static 'images/Images/Mens_Clothing_Poster.jpg' %}">
                <div class="absolute z-30 top-48 left-3 md:top-64 md:left-16 lg:top-72 lg:left-48">
                    <span class="text-2xl md:text-3xl lg:text-5xl font-semibold text-gray-700">Men's Clothing</span>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center mx-3 text-center lg:pr-20 my-5">
                <span class="text-xl lg:text-4xl font-semibold text-black">Men's T - Shirts Store</span>
                <span class="text-md lg:text-xl font-semibold text-black mt-8">Masgarti provides best quality T - Shirts for the handsome Men's out there and</span>
                <span class="text-md lg:text-xl font-semibold text-black ">our design tool allows our customers to customize our T - Shirts with their design ideas.</span>
            </div>
            <div class="flex flex-col justify-center items-center lg:pr-12 my-5">
                <div class="flex align-middle justify-center space-x-3 md:space-x-0 items-center">
                    <svg class="my-5 lg:ml-12 xl:ml-20 xl:mr-6 hidden md:block" height="5" width="400">
                        <line x1="0" y1="0" x2="350" y2="0" style="stroke:rgb(40, 53, 147);stroke-width:5" />
                    </svg>
                    <svg class="block md:hidden" height="5" width="70">
                        <line x1="0" y1="0" x2="80" y2="0" style="stroke:rgb(40, 53, 147);stroke-width:5" />
                    </svg>
                    <span class="text-lg lg:text-3xl text-center text-indigo-800 font-semibold">Shop By Style</span>
                    <svg class="my-5 mr-10 lg:ml-14 hidden md:block" height="5" width="400">
                        <line x1="50" y1="0" x2="500" y2="0" style="stroke:rgb(40, 53, 147);stroke-width:5" />
                    </svg>
                    <svg class="block md:hidden" height="5" width="90">
                        <line x1="0" y1="0" x2="80" y2="0" style="stroke:rgb(40, 53, 147);stroke-width:5" />
                    </svg>
                </div>
                <div class="flex flex-col md:flex-row space-y-8 md:space-y-0 w-screen mt-8 items-center justify-evenly">
                    <div class="w-auto h-auto items-center bg-white shadow-2xl justify-center flex flex-col rounded-2xl">
                        <img class="w-72 h-96 rounded-2xl" src="{% static 'images/Images/Mens_Polo_T-Shirts.jpg' %}" />
                        <span class="text-xl mt-5 my-2 font-semibold">Polo Neck T - Shirts</span> 
                    </div>
                    <div class="w-auto h-auto items-center bg-white shadow-2xl justify-center flex flex-col rounded-2xl">
                        <img class="w-72 h-96 rounded-2xl" src="{% static 'images/Images/Mens_Round_Neck_T-Shirts.jpg' %}" />
                        <span class="text-xl mt-5 my-2 font-semibold">Round Neck T - Shirts</span> 
                    </div>
                </div>
                <div class="flex flex-col md:flex-row space-y-8 md:space-y-0 w-screen mt-12 items-center justify-evenly">
                    <div class="w-auto h-auto items-center bg-white shadow-2xl justify-center flex flex-col rounded-2xl">
                        <img class="w-72 h-96 rounded-2xl" src="{% static 'images/Images/Mens_V_Neck_T-Shirts.jpg' %}" />
                        <span class="text-xl mt-5 my-2 font-semibold">V Neck T - Shirts</span> 
                    </div>
                    <div class="w-auto h-auto items-center bg-white shadow-2xl justify-center flex flex-col rounded-2xl">
                        <img class="w-72 h-96 rounded-2xl" src="{% static 'images/Images/Mens_Y_Neck_T-Shirts.jpg' %}" />
                        <span class="text-xl mt-5 my-2 font-semibold">Y Neck T - Shirts</span> 
                    </div>
                </div>
            </div>
            <div class="flex flex-col py-8 mt-8 rounded-xl ring-2 ring-indigo-800 mx-5 lg:ml-36 lg:mr-40 justify-evenly">
                <div class="flex flex-col items-center">
                    <span class="text-xl lg:text-3xl font-semibold text-indigo-800">Online Men's T - Shirts Store</span>
                    <span class="my-3 mx-3 text-center text-md lg:text-xl font-semibold text-indigo-800">Designed by You and Produced by Masgarti.</span>
                </div>
                <div class="flex flex-col md:flex-row items-center justify-evenly">
                    <div class="flex flex-col items-center">
                        <div class="flex flex-col justify-start">
                            <span class="text-lg md:text-2xl mb-4 font-semibold text-black">Fabrics Available for Designing</span>
                            <span class="text-lg md:text-xl ml-5 lg:ml-24 font-semibold"> - 100% Cotton</span>
                            <span class="text-lg md:text-xl ml-5 lg:ml-24 font-semibold"> - 100% Polyster</span>
                        </div>
                        <div class="lg:-ml-8 -ml-3 mt-4 lg:mt-8 flex flex-col justify-start">
                            <span class="text-lg md:text-2xl mb-4 font-semibold text-black">Sizes Available for Designing</span>
                            <span class="text-lg md:text-xl ml-5 lg:ml-24 font-semibold"> - S, M, L, XL, XXL, XXXL</span>
                        </div>
                    </div>
                    <div class="flex flex-col mt-4 -ml-6 lg:mt-8">
                        <span class="text-lg md:text-2xl mb-4 font-semibold">Fit Available for Designing</span>
                        <span class="text-lg lg:text-xl ml-5 lg:ml-24 font-semibold"> - Regular Fit</span>
                        <span class="text-lg lg:text-xl ml-5 lg:ml-24 font-semibold"> - Slim Fit</span>
                    </div>
                </div>
                <div class="flex flex-col mt-10 items-center text-center justify-center">
                    <span class="text-lg lg:text-xl font-semibold">We provide 100% Quality and Genuine Products to our Customers</span>
                    <span class="text-lg lg:text-xl font-semibold">with utmost Satisfaction of our Customers.</span>
                </div>
                <div class="flex flex-col ml-3 mt-5 lg:ml-32 lg:mt-10">
                    <span class="text-lg md:text-2xl font-semibold">Delivery and Shipping</span>
                    <span class="text-lg md:text-xl text-center lg:ml-12 mt-4 font-semibold"> - Delivery/Arrival time and its Charges will be shown at the Order Placing page</span>
                </div>
            </div>
        </section>
        <section class="container-lg flex flex-col z-20 h-full place-items-end">
            <div class=" h-15 flex content-end items-end">
                <span id="back-to-top" class="hidden font-semibold text-lg mb-3 mr-4">Back to Top</span>
                <a id="btt-image" href="#top-page"><img class="border border-solid border-black rounded-full cursor-pointer w-8 h-8 lg:w-14 lg:h-14 mr-3 mt-6 lg:mt-12 lg:mr-16" src="{% static 'images/arrow_upward_black_48dp.svg' %}" /></a>
            </div>
            <section class="bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-800 py-6 w-screen flex flex-col h-full mt-10">
                <div class="flex flex-col md:flex-row justify-evenly items-start mx-4 lg:my-6 xl:mx-24">
                    <div class="flex flex-col">
                        <span class="font-semibold text-white text-xl md:text-2xl mb-2 md:mb-4">Shop By Departments</span>
                        <a class="mt-2" href="{% url 'clothing' %}"><span class="font-medium text-white opacity-70 hover:opacity-100 text-lg md:text-xl pl-4 lg:pl-8 cursor-pointer">Clothing</span></a>
                        <a class="mt-2" href="{% url 'electronics' %}"><span class="font-medium text-white opacity-70 hover:opacity-100 text-lg md:text-xl pl-4 lg:pl-8 mt-2 cursor-pointer">Electronics</span></a>
                    <a class="mt-2" href="{% url 'business_promotions' %}"><span class="font-medium text-white opacity-70 hover:opacity-100 text-lg md:text-xl pl-4 lg:pl-8 mt-2 cursor-pointer">Business Promotions</span></a>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-semibold text-white text-xl md:text-2xl mb-2 md:mb-4">Customer Zone</span>
                        <span class="font-medium text-white opacity-70 hover:opacity-100 text-lg md:text-xl pl-4 lg:pl-8 mt-2 cursor-pointer">Your Accont</span>
                        <span class="font-medium text-white opacity-70 hover:opacity-100 text-lg md:text-xl pl-4 lg:pl-8 mt-2 cursor-pointer">Delivery Charges</span>
                        <span class="font-medium text-white opacity-70 hover:opacity-100 text-lg md:text-xl pl-4 lg:pl-8 mt-2 cursor-pointer">Refunds & Replacements</span>
                        <span class="font-medium text-white opacity-70 hover:opacity-100 text-lg md:text-xl pl-4 lg:pl-8 mt-2 cursor-pointer">Order Tracking</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-semibold text-white text-xl md:text-2xl mb-2 md:mb-2">Connect With Us</span>
                        <div class="flex">
                            <img class="pl-8" src="{% static 'images/icons8-facebook-circled.svg' %}" />
                            <img class="pl-8" src="{% static 'images/icons8-instagram-logo.svg' %}" />
                            <img class="pl-8" src="{% static 'images/icons8-twitter.svg' %}" />
                        </div>
                        <span class="font-semibold text-white text-xl md:text-2xl mb-2 md:mt-8 mb-2">Download Our App</span>
                        <div class="flex flex-col lg:flex-row">
                            <div class="h-30 w-48 ml-5">
                                <img class="rounded-xl" src="{% static 'images/google-play-badge.png' %}" />
                            </div>
                            <div class="h-30 w-48 mt-5 lg:mt-0 ml-5">
                                <img class="rounded-xl" src="{% static 'images/App_Store_Badge.jpg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center mt-3 justify-center">
                    <img class="h-5 w-5 md:h-7 md:w-7 mr-2" src="{% static 'images/copyright_white_48dp.svg' %}" />
                    <span class="text-md md:text-lg font-semibold text-white">All Rights Reserved - Masgarti INC,.</span>
                </div>
            </section>
        </section>
    </section>
    <script>
        const btt = document.getElementById("back-to-top");
        const btt_image = document.getElementById("btt-image");
        btt_image.addEventListener('mouseover', function() {
            btt.classList.remove('hidden');
        })
        btt_image.addEventListener('mouseout', function() {
            btt.classList.add('hidden');
        })
    </script>
</body>
</html>